@import '~@angular/material/theming';

$primary: mat-palette($mat-blue-grey);

.mat-toolbar{
  background-color: mat-color($primary);
  color: white;
}

.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
  position: absolute;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 10px;
  z-index: 1;
}