@import '~@angular/material/theming';

$primary: mat-palette($mat-blue-grey);

@media (max-width: 500px){
    #mat-toolbar{
        height: 100px;
    }
    #matBar{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 30px;
    }
}

#mat-toolbar{
    background-color: mat-color($primary);
    color: white;
}

nav > a {
    padding: 5px;
    text-decoration: none;
}

nav > a.active {
    background-color: rgb(61, 78, 87);
}

.header-row{
    width: 100%;
}