    <!-- Contact -->
    <section id="contact" class="d-flex align-items-center wow fadeInUp">
        <div class="container">
          <div class="row">
            <div class="col col-md-6">
              <mat-card>
                <mat-card-title>
                  Contact Us
                  <span class="material-icons">phone_callback</span>
                </mat-card-title>
                <hr>
                <mat-card-content>
                  If you want to get in contact with us you can send us an email filling the next formulary, and we are happy to respond all your question.
                </mat-card-content>
              </mat-card>
            </div>
            <div class="col col-md-6">
              <mat-card>
                <mat-card-title>
                  Contact Form
                  <span class="material-icons">phone_callback</span>
                </mat-card-title>
                <hr>
                <form action="">
                  <mat-form-field>
                    <input matInput type="text" placeholder="Your name" required>
                  </mat-form-field>
                    <mat-form-field>
                    <input matInput type="email" placeholder="Your Email" required>
                  </mat-form-field>
                  <mat-form-field>
                    <input matInput type="text" placeholder="Subject" required>
                  </mat-form-field>
                  <mat-form-field>
                    <textarea matInput placeholder="Write your message here"  required></textarea>
                  </mat-form-field>
                  <button mat-button mat-flat-button color="primary" style="display: block; width: 100%;">
                    Send
                  </button>
                </form>
              </mat-card>
            </div>
          </div>
        </div>
      </section>
      <!-- /Contact -->