
<section>
    <h2>My oun Pipe</h2>
    <input type="text" [(ngModel)]="power">
    {{power | exponential}}
</section>
<section>
    <h2>Playng with an ngif</h2>
    <h3>{{ title }}</h3>
    <input type="text" [(ngModel)]="input" />
    <br /><br />
    <div *ngIf="input === 'Hello David'">
        Helloooo, I am David, how are you ?
    </div>

    <h2>With clasic if ngSwitch</h2>
    <h3>Now writte Alberto or Henry or Pilar</h3>
    <div *ngIf="input === 'Alberto'">
        This is David
    </div>
    <div *ngIf="input === 'Henry'">
        This is Henry
    </div>
    <div *ngIf="input === 'Pilar'">
        This is Pilar
    </div>

    <h2>With ng switch</h2>
    <div [ngSwitch]="input">
        <p *ngSwitchCase="'Alberto'">This is David</p>
        <p *ngSwitchCase="'Henry'">This is Henry</p>
        <p *ngSwitchCase="'Pilar'">This is Pilar</p>
        <p *ngSwitchDefault>There is no match</p>
    </div>

</section>

<section>
    <h2>Plaing with a nFor</h2>
    <p>
        This are my closest family
    </p>
    <ul>
        <h1>This is run with a *ngFor</h1>
        <li *ngFor="let name of names">
            {{ name }}
        </li>
        <h1>This is run with a *ngFor by index</h1>
        <li *ngFor="let name of names; index as i">
            {{ i }}
        </li>
    </ul>
</section>


<section>
    <h2>Plaing with for, if, and element</h2>
    <button (click)="addItem()">Add item</button>
    <button (click)="deleteItem(items.length - 1)">Delete Item</button>
    <ul>
        <h3 *ngIf="items.length === 0">This array is empty, add an itetm please</h3>
        <li *ngFor="let item of items">
            {{ item }}
        </li>
    </ul>
</section>
