// :host is an Angular key word, this indicates that we wan to make reference
//  to the actual element <actual-element>  </actual-element>

:host{
    border: 1px solid black;
    margin: 5px;
    border-radius: 10px;
    display: block;
    
}

img {
    max-width: 100%;
}