<div *ngIf="( product$ | async ) as product">
    <div>
        <img [src]="product.image" alt="">
    </div>
    <div>
        <ul>
            <li>Nombre: {{ product.title }}</li>
            <li>Precio: {{ product.price | currency }}</li>
        </ul>
        <p>
            Descripcion: {{ product.description }}
        </p>
    </div>
    <button (click)="createProduct()" mat-raised-button color="primary">Crear</button>
    <button (click)="updateProduct()" mat-raised-button color="primary">Update</button>
    <button (click)="deleteProduct()" mat-raised-button color="primary">Delete</button>
    <button (click)="getRandomUser()" mat-raised-button color="primary">GetRandomUsers</button>
    <!-- <button (click)="getFile()">GetFile</button> -->
    <a href="assets/files/test.txt" download="test.txt" mat-raised-button color="primary">Download test file</a>
</div>